/BuildingBlocks.class
/Magic$MagicColor.class
/Magic$MagicImage.class
/Magic$MagicObjectType.class
/Magic$MagicPaintObject.class
/Magic$MagicPanel.class
/Magic.class
/StartA.class
/StartAPlus.class
/StartB.class
/StartC.class
/StartD.class
/whatever.class
